<!DOCTYPE html>
<html>
<head>
   <title>{% block title %}Snippets{% endblock %}</title>
   <script src="/static/js/jquery-1.9.1.min.js"></script>
   <script src="/static/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="/static/css/bootstrap.min.css"></link>
  <style>
    body.x { font-family: Courier New, monospaced; }
    body {font-family: Helvetica; margin: 0px 25px 0px 25px;}
    a.light { color: #AAA; text-decoration: none }
    a.light:hover { text-decoration: underline }
	a.simple { color: #2398C9; text-decoration: none;}
	a.simple:hover { text-decoration: underline }
	ul.simple { list-style-type: circle; color: #2398C9; }
  </style>
</head>

<body>
  <h1><a class="simple" href="/">Snippets</a> <small style="font-size:15px">{{current_user_details.company_name}}</small></h1>
  <div style="margin-top:-25px">
      <div style="float:right;">
        {% if current_user_details.user %}
          Welcome {{ current_user_details.full_name }} [<a href="{{ current_user_details.logout_url }}">Logout</a>]
        {% else %}
          [<a href="{{current_user_details.login_url}}">Login</a>]
        {% endif %}
      </div>
      {% if current_user_details.user %}
          <a href="/faq" style="float:right; margin-right:50px">FAQ</a>
          <a href="/user_activity" style="float:right; margin-right:30px">User Stats</a>
      {% endif %}
      {% if current_user_details.admin_user %}
          <div class="dropdown" style="float:right; margin-right:50px;">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" style="padding:0px;color:red">
              Admin
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="/email_all">Email all</a></li>
            </ul>
          </div>
      {% endif %}
  </div>
  <hr style="margin: 5px 0; clear:both">
  <div id="main_container" style="margin-bottom:10px">
      {% block body %}
      {% endblock %}
  </div>
  <!--div id="footer" style="clear:both; text-align:center; padding:5px">
      <hr style="margin:5px">
      <a href="http://rocketfuel.com">Rocket Fuel Inc</a>
  </div-->
</body>
</html>
