{% extends "base.html" %}

{% block body %}

  <div style="float: left; width: 300px">
	<h2>User</h2>
	{{ user.email }}&nbsp;
    {% if following %}
      ✓ <a class="light" href="/unfollow?user={{ user.email }}&continue=/user/{{ user.email }}">unfollow</a>
    {% else %}
      <a class="light" href="/follow?user={{ user.email }}&continue=/user/{{ user.email }}">follow</a>
    {% endif %}
	<br>
	{% if user.enabled %}
	  <font color=#2398C9 size=2>Status: enabled</font>
	{% else %}
	  <font color=#2398C9 size=2>Status: disabled</font>
	{% endif %}	
	<br>
	{% if user.weekly %}
	  <font color=#2398C9 size=2>Frequency: on weekly snippets</font>
	{% else %}
	  <font color=#2398C9 size=2>Frequency: on daily snippets</font>
	{% endif %}

    <br/></br>
	
    <h2>Groups</h2>
    {% for tag in tags %}
        {{ tag.0|title}}&nbsp;
		    {% if tag.1 %}
		      ✓ <a class="light" href="/unfollow?tag={{ tag.0 }}&continue=/user/{{ user.email }}">unfollow</a>
		    {% else %}
		      <a class="light" href="/follow?tag={{ tag.0 }}&continue=/user/{{ user.email }}">follow</a>
		    {% endif %}
    {% endfor %}
  </div>
  
  <div style="float: left; margin-left: 30px; max-width: 600px">
    {% for snippet in snippets %}
      <b>{{ snippet.date}}</b><br/>
      <pre>{{ snippet.trimmed_text|urlize }}</pre>
    {% endfor %}
  </div>

{% endblock %}
